@font-face {
  font-family: Tanha;
  src: url('./fonts/Tanha.eot');
  src: url('./fonts/Tanha.eot?#iefix') format('Tanha-opentype'),
    url('./fonts/Tanha.woff') format('woff'),
    url('./fonts/Tanha.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: Tanha, sans-serif;
}
